@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
/* :root permet de mettre en racine des caractéristiques communes
utilisable ensuite dans les classes par var(--...); */
:root {
    --titleBlack: black;
    --titlewhite: white;
    --parGrey: grey;
    --parWhite: white;
    --padding: 50px 20px;
}

/* définitions des caractères communs aux sections */
body{
    font-family: "poppins";
}

section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

section h2{
    font-size: 30px;
    font-weight: 600;
}

.sectionHeader{
    font-size: 20px;
    padding: 50px 300px 50px 300px;
    margin-left: auto;
    margin-right: auto;
}

.titleBlack {
    color: var(--titleBlack);
}

.titleWhite {
    color: var(--titlewhite);
}

.parGrey{
    color: var(--parGrey);
}

.parWhite{
    color:var(--parWhite)
}

/* première page*/
header{
    background: radial-gradient( #8bc3f5, #1294b8);
    height: 100vh;
    width: 100%;
}

/*partie supérieure*/
.bandeau{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10%;
    padding: 1% 10%;
}

#logo{
    color: white;
    font-size: 200%;
    font-weight: 600;
}

.navBar{
    display: flex;
    list-style: none;
    margin: 20px;
}

.navBar a{
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.lienRsociaux ul li{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0 20px;
}

.lienRsociaux a{
    color: white;
    text-decoration: none;
}

.iconHamburger a{
    list-style-type: none;
    color:white;
    font-size: 20px;
}

/*partie inférieure*/
.accueil{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.accueil .text{
    width: 50%;
    padding: 100px 200px;
}

.accueil .text h1 {
    margin-bottom: 20px;
  }

  .accueil .text p{
    margin-bottom: 30px;
  }

.champEmail{
    display: flex;
    background-color: aliceblue;
    opacity: 60%;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 40px;
    justify-content: space-between;  /*avec la div email c'est plus simple pour la mise en page, permet d'avoir le bouton à la fin du champ*/
}

input{
    border: none;  
}

.btn{
    background-color: rgb(10, 128, 212);
    color: var(--pWhite);
    width: 100px;
    border:none;
    border-radius:20px;
}

.btn:hover{
    cursor:pointer;
}

.imgCat{
    width: 50%;
    padding: 50px 150px 50px 0;
}



/* main  */


/* products features */
.cardPage2{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card{
    align-items: center;
    text-align: center;
    color: white;
    background: radial-gradient( #8bc3f5, #1294b8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 350px;
    height: 350px;
    padding: 50px;
    border-radius: 10px;
    transition: 1s;
}

.card i{
    font-size: 30px;
    padding: 10px;
}
    
.card h3, .card p{
    padding: 10px;
}

.card:hover{
    transform:translateY(-30px);
}

/* how it works */
.howItWorks{
    background-color: #f6f6f6;
    padding: 60px;
}

/* team */

.photoTeam{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.cardTeam{
    text-align: center;
    border: 1px solid black;
    transition: 3s;
}

.headerCteam h4{
    font-size: 25px;
    font-weight: 600;
}

.headerCteam p{
    color: Black;
    padding-top: 0;
    padding-bottom: 30px;
    font-size: 15px;
}

.bodyCteam {
    position: relative;
}

/* pour que le zoom se fasse "sur l'image" seulement, il faut le border radius sur la div contenant l'image pas sur l'image elle même donc ici sur imgTeam et pas sur person*/
.imgTeam {
    overflow: hidden;
    border-radius: 50%;
    transition: 1s;
}

.person {
    overflow: hidden;
    width: 250px;
    filter: grayscale(1);
    object-fit: cover;
    transition: 1s;
}

.person:hover {
    filter: none;
    transform: scale(1.1);
}

.liensRteam {
    position: absolute;
    top: 0;
    left: -40px;
    transition: 1s;
    opacity: 0;
}

.cardTeam:hover .liensRteam {
    left: -10px;
    top: 90px;
    opacity: 1;
}

.liensRteam li a i{
    color:black;
    background-color: white;
    /* background-color: red; */
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: 1s;
}

.nom{
    font-size: 20px;
    padding: 0;
}

.job{
    color: var(--parGrey);
    font-size: 15px;
}


/* let's get started */

.letsGo {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
     url("img/parallax.png");
    opacity: 0.8;
    background-clip: padding-box;
    background-attachment: fixed;
    position: relative;
}

.getStarted{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.start {
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgba(255, 255, 255, 0); /*on met une couleur transparente pour effacer le fond */
    border-radius: 5px;
    border: 1px solid white;
    transition: 1s;
}

.start:hover {
    transform:translateY(-10px) ;
    background-color: azure;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

/* client says */

.logo {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 30px; 
}

.logo li {
    list-style: none;
    width: 150px;
    height: 150px;
}

.logo li img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}



/* digital creativity */

.digitalCreativity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}
.create{
    width: 50%;
}

.creativity{
    width: 30%;
    /* padding: 50px 150px 50px 0; */
}

/* footer */








