@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
/* :root permet de mettre en racine des caractéristiques communes
utilisable ensuite dans les classes par var(--...); */
:root {
    --titleBlack: black;
    --titlewhite: white;
    --pBlack: grey;
    --pWhite: white;
}

body{
    font-family: "poppins";
}
/* première page*/
header{
    background: radial-gradient( #8bc3f5, #1294b8);
    height: 100vh;
    width: 100%;
   
}
/*partie supérieure*/
.bandeau{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10%;
    padding: 1% 10%;
}

#logo{
    color: var(--pWhite);
    font-size: 200%;
    font-weight: 600;
}

.navBar{
    display: flex;
    list-style: none;
    margin: 20px;
}

.navBar a{
    color: var(--pWhite);
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.lienRsociaux ul, li{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0 20px;
}

.lienRsociaux a{
    color: var(--pWhite);
    text-decoration: none;
}

.iconHamburger a{
    list-style-type: none;
    color: var(--pWhite);
    font-size: 20px;
}

/*partie inférieure*/
.accueil{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.accueil .text{
    width: 50%;
    padding: 100px 200px;
}

.accueil .text h1 {
    margin-bottom: 20px;
  }

  .accueil .text p{
    margin-bottom: 30px;
  }

.champEmail{
    display: flex;
    background-color: aliceblue;
    opacity: 60%;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 40px;
    justify-content: space-between;  /*avec la div email c'est plus simple pour la mise en page, permet d'avoir le bouton à la fin du champ*/
}

input{
    border: none;  
}

.btn{
    background-color: rgb(10, 128, 212);
    color: var(--pWhite);
    width: 100px;
    border:none;
    border-radius:20px;
}

.btn:hover{
    cursor:pointer;
}

.imgCat{
    width: 50%;
    padding: 50px 150px 50px 0;
}





/* main  */


.titleBlack h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.titleWhite h2{
    /* color: var(--titlewhite); */
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.titleBlack p{
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color : var(--pBlack);
    padding: 10px 300px 200px 300px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.titleWhite p{
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    /* color : var(--pWhite); */
    padding: 10px 300px 200px 300px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* products features */
.cardPage2{
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 60vh;
}
    
.card{
    align-items: center;
    text-align: center;
    color: var(--pWhite);
    background: radial-gradient( #8bc3f5, #1294b8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 350px;
    height: 350px;
    padding: 50px;
    border-radius: 10px;
    transition: 1s;
}

.card i{
    font-size: 30px;
    padding: 10px;
}
    
.card h3, p{
    padding: 10px;
}

.card:hover{
    transform:translateY(-30px) ;
}

/* how it works */
.howItWorks{
    background-color: #f6f6f6;
    height: 80vh;
    padding: 60px;
}

/* team */
.team{
    /* height: 100vh; */
}

.photoTeam{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.photos1{
    text-align: center;
    border: 1px solid black;
    transition: 1s;
}

.photo1header h4{
    font-size: 25px;
    font-weight: 600;
}

.photo1header p{
    color:var(--pBlack);
    padding-top: 0;
    padding-bottom: 30px;
    font-size: 15px;
}

.nom{
    font-size: 20px;
}

.job{
    color:var(--pBlack);
    font-size: 15px;
}

.Img1 {
    overflow: hidden;     
}

.photo1img {
    filter: grayscale(1);
    width: 250px;
    height: auto;
    border-radius: 50%;
    transition: 1s;    
    object-fit: cover;
    position: relative;
}

.photo1img:hover {
   filter: none;
   transform: scale(1.1);
}

.liensR1{
    transform: translateX(-60%);
    /* opacity: 0; */
    /* transition: opacity 0.5 ease; */
}
.liensReseaux i{
    /* position: absolute; */
    color:black;
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: 16px; */
}

.img:hover .lienReseaux i {
    opacity: 1;
}














/* footer */








